

.nav {
    /* background-color: var(--LHYellow); */
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.site-title{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--LHCrimson);
    font-weight: bolder;
}

.site-title:hover{
    color: var(--LHGold); 
}

.spaced-out{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-navlinks{
    background-color: var(--LHGold);
    width: fit-content;
}

.nav-link{
    color: var(--LHCrimson) !important;
    font-size: 1.5rem !important;
}

.nav-link:hover{
    color: white !important;
}

.brand-align{
    display: flex;
    justify-content: space-around;
}